body{
    font-family: 'montserrat';
}
#title{
    background-color: #ff4c68;
    color:#fff;
}
.container-fluid{
    padding: 3% 18% 7%;
}



h1{
    font-family: 'Montserrat', sans-serif;
    line-height:1.5 ;
    font-size: 3.5rem;
}

h3{
    padding-top: 20px;
    line-height: 1.5;
    font-family: "montserrat";
    font-size: 1.5rem;
    color:black;
}

/* Navigation bar */
.navbar-brand{
    font-family: "ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding:0px 0px 4.5rem 0px;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "montserrat-light";
}

/* Download Button */
.downbtn{
    margin: 5% 3% 5% 0;
}

/*image title*/
.image-title{
    width:55%;
    transform:rotate(25deg);  /*clockwise rotation*/
    position: absolute;
    right:28%;
}
 
/* Feature Section */
#features{
    padding:3% 12% 5% 12%;
    background-color: #fff;
    position: relative;
    z-index:1; /* in this case without z-index it also work becaud it follow the stacking order */

}
.col-feature{
    padding:3% 10% 0 10%;
    text-align: center;
    
}
.icon{
    color: #ef8172;
}
.icon:hover{
    
    color:#ff4c68
}
p{
    font-family: "arial";
    color:#8f8f8f;
}

/*Testinomial Section */
#testimonials{
    text-align:center;
    
    background-color: #ff4c68;
    color:white;
}

.testimonial-text{
    padding-bottom: 3%;
}

.testimonial-image{
    width:12%;
    border-radius: 100%;
}
.carousel{
    padding:7% 20% 5% 20%;
}


/*Section press*/
#press{
    background-color:  #ff4c68;
    text-align: center;
    padding:5% 0 8% 0;
}

/*pricing section */
#pricing{
    text-align: center;
    padding:200px;
}
.pricing-column{
    
    padding: 3% 2%;
}
h2{
    font-size:3rem;
}

/*page responsive */
@media only screen and (max-width: 800px)
{
    #title{
        text-align: center;
    }
    .image-title{
        position: static;
        transform: rotate(0);
    }
}

/* CAll to action section */
#cta{
    text-align: center;
    background-color: #ff4c68;
    padding: 4% 15%;
}
.cta-text{
    color:#fff;
    font-family: "montserrat";
    font-size: 3rem;
    padding: 2% 18% 4%;
    
}
.cta-btn{
    margin-left:30px;
    margin-right: 30px;
}
.row-btn{
    padding:0 25%;
}
.col-btn{
    padding-bottom:10px;

}

/* Footer section */
#footer{
    text-align: center;
    background-color: #fff;
    margin:2% auto 2%;
}
.footer-icon{
    margin:2% 1%;
}